.tab-pane {
    -fx-background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity */
}

.tab-pane .tab-header-area {
    -fx-background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity for the area behind the tabs */
}

.tab {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* White color with 50% opacity */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.tab:selected {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity for selected tab */
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .tab {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity for selected tab header */
}

.tab-pane .tab-content-area {
    -fx-background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity for tab content */
}

.tab-pane .tab-content-area > .tab-pane > .tab {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* White color with 80% opacity for tab content */
}

.tab-pane .tab-content-area > .tab-pane > .tab:selected .tab {
    -fx-background-color: rgba(255, 255, 255, 1); /* Fully opaque white color for selected tab content */
}
